.pri{
    background-color: black;
}
.pag1{
    background-color: black;
}
.pag2{
    background-color: black;
}
.pag3{
    background-color: black;
}
.pag4{
    background-color: black;
}
h1{
    color: blue;
}